.header-component {
  position: fixed !important;
  z-index: 9999;

  .MuiContainer-root {
    max-width: unset;
  }

  & .user-settings {
    position: absolute;
    right: 0;
  }
}

header {
  background-image: linear-gradient(
    to left,
    #ffffff,
    #cfd1de,
    #9ca6be,
    #637e9f,
    #165a7f
  );
}
